/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); */

/* @font-face {
  font-family: "Lovage-uppercase";
  src: url("assets/Fonts/Lovage-uppercase.otf") format("opentype");
  font-style: normal;
} */

@font-face {
  font-family: "CeraRoundProDEMO-Thin";
  src: url("assets/Fonts/CeraRoundProDEMO-Thin.otf") format("opentype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CeraRoundProDEMO-Thin", sans-serif;
  color: #f7f6e9;
  scroll-behavior: smooth;
}

body {
  background-color: #1b3b2b;
  max-width: 1100px;
  min-width: 325px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
  transition: all 300ms ease;
}
a:hover {
  color: #b4b3a6;
}

.nav__link:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -3px;
  right: 0;
  transition: all 500ms ease;
  width: 0;
  background-color: #f7f6e9;
}
.nav__link:hover:after {
  width: 100%;
}
.nav__link:after:visited {
  text-decoration: none;
  width: 0;
}

.nav__item {
  position: relative;
  font-weight: 600;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
}

.logo {
  width: 60vh;
  max-width: 550px;
  max-height: 200px;
}

.slogan__section {
  height: 40vh;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 50px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/mainimg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.nav__items {
  width: 40%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

/***** MENU SECTION *****/
.menu-section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-title {
  margin: 1em;
  text-align: center;
  width: 65%;
}

.menu-img {
  margin: 1em;
  /* height: 40em; */
  max-width: 100%;
  width: 400px;
}

.divider {
  width: 80%;
  height: 2px;
  background-color: #b4b3a6;
  margin: 5em 0 1em;
}

/* CONTACT */

.contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.connect-with-us {
  /* width: 100%; */
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-with-us h2 {
  margin: 20px;
}

.contact-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info h4 {
  margin: 10px;
}

.socials {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.map__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px auto 20px auto;
  width: 70%;
}

.map-img {
  max-height: 250px;
  margin-bottom: 10px;
}
.map-address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-icon {
  color: #f7f6e9;
  font-size: 32px;
  transition: all 300ms ease;
}

ion-icon:hover {
  color: #b4b3a6;
}

footer {
  height: 30px;
}

@media (max-width: 820px) {
  .map__container {
    flex-direction: column;
    margin: 25px auto 0px;
  }
  .hours {
    margin-bottom: 50px;
    order: 1;
  }
  .map-address {
    order: 2;
  }
  .connect-with-us {
    margin-top: 50px;
  }
  .nav__link:hover:after {
    width: 0;
  }
}
@media (max-width: 580px) {
  .logo {
    width: 80%;
  }
  .socials {
    width: 40%;
  }
  p {
    font-size: 1em;
  }
  .nav__item {
    font-size: 0.7em;
    border-bottom: 1px solid white;
  }
  .nav__items {
    width: 80%;
  }
  .menu-title {
    width: 90%;
  }
}
